body {
    font-family: 'Dancing Script', cursive;
}

section {
    display: flex;

}

.diet {
    padding-left: 5%;
    background-image: url(frame/Frame\ 58.jpg);
    margin-bottom: 5px;

}

.size {
    width: 50%;

}

.size img {
    width: 80%;
}

span {
    color: coral;
}

h1 {
    font-size: 70px;
    font-style: bold;
    line-height: 40px;

}

small {
    font-size: large;

}

.button {
    background-image: linear-gradient(red, orange);
    text-decoration: solid;
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 70px;
    color: aliceblue;

}

.loren {
    font-size: 30px;
    line-height: 70px;
    margin-bottom: 20px;

}

.about-me {
    background-image: url(frame/7.png)
}

.recipies {
    text-align: center;
    color: crimson;
    margin-top: 5px;


}

.box-one {
    box-shadow: 7px 5px 10px 5px yellowgreen;
    border-left: 5px solid blue;
    width: 50%;
    box-shadow: 7px 5px 10px 5px yellowgreen;
    border-left: 5px solid blue;

    padding-top: 2%;
    padding-left: 10px;


    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    border-radius: 20px;






}

.box-two {
    box-shadow: 7px 5px 10px 5px paleturquoise;
    border-left: 5px solid goldenrod;
    box-shadow: 7px 5px 10px 5px yellowgreen;
    border-left: 5px solid blue;

    padding-top: 2%;
    padding-left: 10px;


    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    border-radius: 20px;





}


.text {
    font-size: 60px;
    font-weight: 800;
}

.box img {
    width: 90%;

}

.box {
    background-image: url(frame/Frame\ 59.jpg);

}

.r {
    background-image: url(frame/Frame\ 59.jpg);
}

.fan {
    display: flex;
    justify-content: center;
    font: size 80px;
    box-shadow: 5px 10px 15px white;
    font-weight: bolder;
    margin-inline-start: 2px;




}

.follower {
    box-shadow: 7px 5px 10px 5px green;
    background-color: white;
    width: 1200px;
    border: 15px solid white;
    padding: 0;
    margin: 20px;
    flex-direction: column;
    margin-top: 5%;
    border-radius: 10%;

}

footer {
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding-bottom: 40px;

}