body {
    font-family: 'Dancing Script', cursive;
}

section {
    display: flex;

}

.diet {
    padding-left: 5%;
    background-image: url(frame/Frame\ 58.jpg);

}

.size {
    width: 50%;

}

.size img {
    width: 80%;
}

span {
    color: coral;
}

h1 {
    font-size: 70px;
    font-style: bold;
    line-height: 40px;

}

small {
    font-size: large;

}

.button {
    background-image: linear-gradient(red, orange);
    text-decoration: solid;
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 70px;
    color: aliceblue;

}

.loren {
    font-size: 30px;
    line-height: 70px;

}

.about-me {
    background-image: url(frame/7.png)
}

.recipies {
    text-align: center;
}

.box-one {
    box-shadow: 7px 5px 10px 5px yellowgreen;
    border-left: 5px solid blue;
    width: 50%;
    box-shadow: 7px 5px 10px 5px yellowgreen;
    border-left: 5px solid blue;

    padding-top: 2%;
    padding-left: 10px;


    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    border-radius: 20px;





}

.box-two {
    box-shadow: 7px 5px 10px 5px paleturquoise;
    border-left: 5px solid goldenrod;
    box-shadow: 7px 5px 10px 5px yellowgreen;
    border-left: 5px solid blue;

    padding-top: 2%;
    padding-left: 10px;


    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    border-radius: 20px;




}


.text {
    font-size: 60px;
    font-weight: 800;
}

.box img {
    width: 90%;


}